footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--light-blue);
}
footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    footer{
        padding: 20px;
    }
    footer p{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 767px){ 
   footer{
    padding: 15px;
    }
    footer p{
        font-size: 13px;
    }
    footer img{
        width: 80%;
    }
}