@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --blue : #00A1FC;
    --light-gray : #F7F7F7;
    --light-blue : #D7E0F5;
    --grey : #4E4E4E
}

.registrar{
    padding: 10px 12px; 
    background-color: var(--grey);
}
.registrar a{
    color: white;
}

.login{
    padding: 10px 23px;
    background-color: white;
}
.login a{
    color: var(--grey);
}

@media screen and (min-width: 768px) and (max-width: 991px){
    header{
        font-size: 28px !important;
    }
}
@media screen and (max-width: 767px){
    header{
        font-size: 22px !important;
    }
}