.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-around;
    background-color: #EFEFEF;
    gap: 10px;
}
figure{
    text-align: center;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
.texto .consulte{
    padding: 14px 16px;
    background-color: var(--blue);
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

.botoes{
    border-radius: 5px;
    border: 0;
    margin: 4px;
}
.botoes a{
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 14px;
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    img{
        width: 90%;
    }
}
@media screen and (max-width: 767px){
    h1{
        font-size: 16px;
    }
    .texto p{
        font-size: 14px;
    }
   .banner{
    padding: 30px;
    grid-template-columns: 1fr;
   }
   .banner figure img{
    width: 70%;
   }
}