.corpo{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.bloco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    width: 40%;
}
.login{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login input{
    margin: 5px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    border: 1px solid rgb(216, 215, 215);
}
.registrar{
    background-color: var(--blue);
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    width: 100% !important;
}

.erro {
    background-color: #fdd; /* Fundo vermelho claro */
    border: 1px solid red;
    border-radius: 4px;
}

.erroMensagem {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
}



a{
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
span{
    color: var(--blue);
}

@media screen and (max-width: 767px){
    header{
        margin-top: 10px;
    }
   .bloco{
    width: 70%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   .login{
    margin: 20px 0;
   }
   .login input{
    font-size: 12px;
   }
   .registrar{
    font-size: 14px;
    width: 80% !important;
   }
    .entrar{
    margin-bottom: 20px !important;
   }
   a{
    font-size: 14px;
   }
}
